{% extends "base.html" %}
{% block title %}Add Post{% endblock %}
{% block styles %}
<style type="text/css">
  .ck-editor__editable_inline {
    height: 450px
  }
</style>
{% endblock %}
{% block content %}
    <h1>Add Post</h1>
    <form method="POST" action="/post/add-post" novalidate>
      {{ form.csrf_token }}
      <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        {% for error in form.title.errors %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control") }}
        {% for error in form.content.errors %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        {% for error in form.slug.errors %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
      {{ form.submit(class="btn btn-primary") }}
    </form>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#content' ), {
                 ckfinder: {
                    uploadUrl: "{{ url_for('post.upload') }}"
                }
            } )
            .catch( error => {
                console.error( error );
            } );
    </script>


{% endblock %}
