{% extends "base.html" %}
{% block title %}Blog list{% endblock %}
{% block content %}
    <h1>Blog list</h1>
    <table class="table table-bordered table-hover mt-5">
      <thead class="table-primary">
        <tr>
          <th scope="col">id</th>
          <th scope="col">title</th>
          <th scope="col">content</th>
          <th scope="col">slug</th>
          <th scope="col">created at</th>
          <th scope="col">updated at</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <th scope="row">{{ post.id }}</th>
            <td>
              {{ post.title }}
            </td>
            <td>{{ post.content }}</td>
            <td>{{ post.slug }}</td>
            <td>{{ post.created_at }}</td>
            <td>{{ post.updated_at }}</td>
            <td><a href="{{ url_for('post.view_post', slug=post.slug) }}" class="btn btn-outline-secondary btn-sm">
              View post</a></td>
            <td><a href="{{ url_for('post.update_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">
              Edit post</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
