{% extends "base.html" %}
{% block title %}Blog list{% endblock %}
{% block content %}
    <h1>Blog list</h1>
    <table class="table table-bordered table-hover mt-5">
      <thead class="table-primary">
        <tr>
          <th scope="col">id</th>
          <th scope="col">title</th>
          <th scope="col">slug</th>
          <th scope="col">created at</th>
          <th scope="col">updated at</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <th scope="row">{{ post.id }}</th>
            <td>
              {{ post.title }}
            </td>
            <td>{{ post.slug }}</td>
            <td>{{ post.created_at }}</td>
            <td>{{ post.updated_at }}</td>
            <td><a href="{{ url_for('post.view_post', slug=post.slug) }}" class="btn btn-outline-secondary btn-sm">
              View post</a></td>
            <td><a href="{{ url_for('post.update_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">
              Edit post</a></td>
            <td><a href="{{ url_for('post.delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">
              Delete post</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if posts.has_prev %}
      <a href="{{ url_for('post.post_list', page=posts.prev_num) }}" class="btn btn-outline-primary btn-sm">
          Previous</a>
    {% endif %}
    {% if posts.has_next %}
      <a href="{{ url_for('post.post_list', page=posts.next_num) }}" class="btn btn-outline-primary btn-sm">
          Next</a>
    {% endif %}
{% endblock %}
